# Configuration keys required by this project. Values intentionally omitted.
ADMIN_DISCORD_IDS=
ALGOD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
MONGO_URI=
NEXT_PUBLIC_GOVERNANCE_APP_ID=
NEXT_PUBLIC_TEST=
NODE_ENV=
VOTE_WALLET_SECRET=
