# MongoDB
MONGO_URI=

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# GitHub OAuth
GITHUB_ID=
GITHUB_SECRET=
GITHUB_ID_DEV=
GITHUB_SECRET_DEV=

# Discord OAuth (for CFIP community proposals)
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
FRY_NETWORKS_DISCORD_GUILD_ID=
FRY_NETWORKS_DISCORD_INVITE=https://discord.gg/frynetworks
DISCORD_BOT_TOKEN=

# Feature Flags
NEXT_PUBLIC_TEST=false

# Node Environment
NODE_ENV=development
